//RESPONSIVE BREAKPOINTS

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  background-color: whitesmoke;
}

ul {
  list-style-type: none;
}

a:link,
a:visited {
  text-decoration: none;
}

a svg {
  pointer-events: none;
}

img {
  width: 100%;
  display: block;
}
