@use '../util' as u;

body {
  background-color: hsl(0, 0%, 100%);
//   font-family: var(--font-primary);
}

ul {
  list-style-type: none;
}

a:link,
a:visited {
  text-decoration: none;
}

input,
textarea,
button,
select,
option {
    font-family: inherit;
}

// .heading-1 {
//   font-size: clamp(u.rem(28), u.rem(16) + 2vw, u.rem(40));
// }

// .heading-2 {
//   font-size: clamp(u.rem(22), u.rem(12) + 1.5vw, u.rem(36));
// }

p {
  margin: 0;
}
