@use 'functions' as f;

// margin-bottom:

.mb-10 {
  margin-bottom: f.rem(10) !important;
}
.mb-15 {
  margin-bottom: f.rem(15) !important;
}
.mb-20 {
  margin-bottom: f.rem(20) !important;
}
.mb-25 {
  margin-bottom: f.rem(25) !important;
}
.mb-30 {
  margin-bottom: f.rem(30) !important;
}
.mb-35 {
  margin-bottom: f.rem(35) !important;
}
.mb-40 {
  margin-bottom: f.rem(40) !important;
}
.mb-45 {
  margin-bottom: f.rem(45) !important;
}
.mb-50 {
  margin-bottom: f.rem(50) !important;
}
.mb-55 {
  margin-bottom: f.rem(55) !important;
}
.mb-60 {
  margin-bottom: f.rem(60) !important;
}
.mb-65 {
  margin-bottom: f.rem(65) !important;
}
.mb-70 {
  margin-bottom: f.rem(70) !important;
}
.mb-75 {
  margin-bottom: f.rem(75) !important;
}
.mb-80 {
  margin-bottom: f.rem(80) !important;
}
.mb-85 {
  margin-bottom: f.rem(85) !important;
}
.mb-90 {
  margin-bottom: f.rem(90) !important;
}
.mb-95 {
  margin-bottom: f.rem(95) !important;
}
.mb-100 {
  margin-bottom: f.rem(100) !important;
}

// margin-top:

.mt-10 {
  margin-top: f.rem(10) !important;
}
.mt-15 {
  margin-top: f.rem(15) !important;
}
.mt-20 {
  margin-top: f.rem(20) !important;
}
.mt-25 {
  margin-top: f.rem(25) !important;
}
.mt-30 {
  margin-top: f.rem(30) !important;
}
.mt-35 {
  margin-top: f.rem(35) !important;
}
.mt-40 {
  margin-top: f.rem(40) !important;
}
.mt-45 {
  margin-top: f.rem(45) !important;
}
.mt-50 {
  margin-top: f.rem(50) !important;
}
.mt-55 {
  margin-top: f.rem(55) !important;
}
.mt-60 {
  margin-top: f.rem(60) !important;
}
.mt-65 {
  margin-top: f.rem(65) !important;
}
.mt-70 {
  margin-top: f.rem(70) !important;
}
.mt-75 {
  margin-top: f.rem(75) !important;
}
.mt-80 {
  margin-top: f.rem(80) !important;
}
.mt-85 {
  margin-top: f.rem(85) !important;
}
.mt-90 {
  margin-top: f.rem(90) !important;
}
.mt-95 {
  margin-top: f.rem(95) !important;
}
.mt-100 {
  margin-top: f.rem(100) !important;
}
